Package: libseccomp2
Source: libseccomp
Version: 2.3.3-4
Architecture: amd64
Maintainer: Kees Cook <kees@debian.org>
Installed-Size: 514
Depends: libc6 (>= 2.14)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/seccomp/libseccomp
Description: high level interface to Linux seccomp filter
 This library provides a high level interface to constructing, analyzing
 and installing seccomp filters via a BPF passed to the Linux Kernel's
 prctl() syscall.
