Package: seccomp
Source: libseccomp
Version: 2.3.3-4
Architecture: amd64
Maintainer: Kees Cook <kees@debian.org>
Installed-Size: 195
Depends: libc6 (>= 2.14)
Suggests: libseccomp-dev
Section: utils
Priority: optional
Homepage: https://github.com/seccomp/libseccomp
Description: helper tools for high level interface to Linux seccomp filter
 Provides helper tools for interacting with libseccomp. Currently, only
 a single tool exists, providing a way to easily enumerate syscalls across
 the supported architectures.
