Package: libseccomp-dev
Source: libseccomp
Version: 2.3.3-4
Architecture: amd64
Maintainer: Kees Cook <kees@debian.org>
Installed-Size: 5108
Depends: libseccomp2 (= 2.3.3-4)
Suggests: seccomp
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://github.com/seccomp/libseccomp
Description: high level interface to Linux seccomp filter (development files)
 This library provides a high level interface to constructing, analyzing
 and installing seccomp filters via a BPF passed to the Linux Kernel's
 prctl() syscall.
 .
 This package contains the development files.
