Package: python-seccomp
Source: libseccomp
Version: 2.3.3-4
Architecture: amd64
Maintainer: Kees Cook <kees@debian.org>
Installed-Size: 712
Depends: libc6 (>= 2.14), python (<< 2.8), python (>= 2.7~), python:any (<< 2.8), python:any (>= 2.7~)
Section: python
Priority: optional
Multi-Arch: same
Homepage: https://github.com/seccomp/libseccomp
Description: high level interface to Linux seccomp filter (Python 2 bindings)
 This library provides a high level interface to constructing, analyzing
 and installing seccomp filters via a BPF passed to the Linux Kernel's
 prctl() syscall.
